/****** Script for SelectTopNRows command from SSMS  ******/
select * from unit;
select * from commodityType;
select * from commodity;
select * from manufacturer;
select * from purchaseOrders;
select * from purchaseCommodity;
select * from salesOrders;
select * from salesCommodity;

update unit set line=1 where id=1

select * from commodity order by line desc
