<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--<add key="DataProviderDllFile" value="Insigma.Eyes.PSS.OracleDAL.dll"/>
    <add key="DataProviderFactoryName" value="Insigma.Eyes.PSS.OracleDAL.DalOracleFactory"/>-->
    <add key="DataProviderDllFile" value="Insigma.Eyes.PSS.MSSQLDAL.dll"/>
    <add key="DataProviderFactoryName" value="Insigma.Eyes.PSS.MSSQLDAL.DalMSSqlFactory"/>
    
  </appSettings>
  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=invoicing;Password=invoicing;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="MSSql" connectionString="Data Source = PC-201303161457\SQLEXPRESS;Initial Catalog = pss ;User Id = sa ;Password = 000000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
